extends layout

block content

  h1 Genre: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
    each book in genre_books
      dt 
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p This genre has no books

    hr
    p
      a.btn.btn-primary(href=genre.url+'/delete') Delete genre
    p
      a.btn.btn-primary(href=genre.url+'/update') Update genre
